<h1>Whats up Yall This is Home </h1>
<%= link_to image_tag('rubies.jpg'), 'www.rubiestheblog.com' %>
<%= image_tag 'rubies.jpg' %>
<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>